<div class="box">
    <div class="text-center h2">Iniciar Sesion</div>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email </label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                formControlName="email">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
    </form>
    <div class="form-group mt-3">
        <p>Todavia no te resgistraste? <a [routerLink]="[ '/register']">Register</a></p>
    </div>
</div>